<html>
<body>
<h1>QUIZ</h1>
<h2>Please check all the primitives </h2>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="javascripts/testFile.js"> </script>

<script>
var ar=[
'1',
'null',
'true',
'"\'quiz\'"',
'undefined',
'Symbol.for("blackbook")',
'new String("Vertech")',
'new Boolean(true)',
'new Number (2)',
'new Date(2015)',
' function X(){return true;}',
'new Object()',
 'var  arr= ["asher","harish","avani"];',
]

for (i=0; i<ar.length; i++){
document.write("<br/>"+(i+1)+".\t");
document.write("\t<input id='chk" + i + "' type='checkbox' value='0'/>\t");
document.write(ar[i]);
}


</script>
<p><p>
<input type="submit" onclick="getScore();"
</body>

</html>